.shop {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: stretch;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.shop > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .shop > * {
    grid-column: 4;
  }
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.section__mGxmt {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: stretch;
  width: 100%;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 0;
}
.section__mGxmt > * {
  grid-column: 4;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h1 {
  text-align: center;
  color: #2e2854;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}
.section__rtW8 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
.section__rtW8 > * {
  grid-column: 4;
}
.columns__pGLa3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__pGLa3 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-U1uOv2mivztH));
  width: calc(100% + var(--token-U1uOv2mivztH));
  --plsmc-rc-col-gap: var(--token-U1uOv2mivztH);
}
.columns__pGLa3 > :global(.__wab_flex-container) > *,
.columns__pGLa3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__pGLa3 > :global(.__wab_flex-container) > picture > img,
.columns__pGLa3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-U1uOv2mivztH);
}
.columns__pGLa3 {
  --plsmc-rc-col-gap: 0px;
}
.columns__pGLa3 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__pGLa3 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__pGLa3 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__pGLa3 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pGLa3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pGLa3 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pGLa3 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pGLa3 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pGLa3 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pGLa3 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
.column__s7LWp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__s7LWp {
    padding: 0px;
  }
}
.img__rNliX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__rNliX > picture > img {
  object-fit: cover;
}
.img__rNliX > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__rNliX {
    width: 500px;
    border-radius: 15px;
  }
}
.column__xjuzO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__xjuzO {
    padding: 0px;
  }
}
.img__fE3Qt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__fE3Qt > picture > img {
  object-fit: cover;
}
.img__fE3Qt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fE3Qt {
    border-radius: 15px;
  }
}
.column__pR782 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__pR782 {
    padding: 0px;
  }
}
.img__fdS54 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__fdS54 > picture > img {
  object-fit: cover;
}
.img__fdS54 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fdS54 {
    border-radius: 15px;
  }
}
.column__scq9G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__scq9G {
    padding: 0px;
  }
}
.img__xmZzp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__xmZzp > picture > img {
  object-fit: cover;
}
.img__xmZzp > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xmZzp {
    border-radius: 15px;
  }
}
.columns__nIudr {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__nIudr > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-U1uOv2mivztH));
  width: calc(100% + var(--token-U1uOv2mivztH));
  --plsmc-rc-col-gap: var(--token-U1uOv2mivztH);
}
.columns__nIudr > :global(.__wab_flex-container) > *,
.columns__nIudr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__nIudr > :global(.__wab_flex-container) > picture > img,
.columns__nIudr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-U1uOv2mivztH);
}
.columns__nIudr {
  --plsmc-rc-col-gap: 0px;
}
.columns__nIudr > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__nIudr > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__nIudr > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__nIudr > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nIudr {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nIudr > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nIudr > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nIudr > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nIudr > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nIudr > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
.column__r7M1B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__r7M1B {
    padding: 0px;
  }
}
.img__a01Av {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__a01Av > picture > img {
  object-fit: cover;
}
.img__a01Av > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__a01Av {
    width: 500px;
    border-radius: 15px;
  }
}
.column__gbTet {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__gbTet {
    padding: 0px;
  }
}
.img__lFuEi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__lFuEi > picture > img {
  object-fit: cover;
}
.img__lFuEi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__lFuEi {
    border-radius: 15px;
  }
}
.column__nvF2B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__nvF2B {
    padding: 0px;
  }
}
.img__yBfOh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__yBfOh > picture > img {
  object-fit: cover;
}
.img__yBfOh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yBfOh {
    border-radius: 15px;
  }
}
.column__rL089 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rL089 {
    padding: 0px;
  }
}
.img__dw7QP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__dw7QP > picture > img {
  object-fit: cover;
}
.img__dw7QP > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__dw7QP {
    border-radius: 15px;
  }
}
.columns__hOmOh {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__hOmOh > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-U1uOv2mivztH));
  width: calc(100% + var(--token-U1uOv2mivztH));
  --plsmc-rc-col-gap: var(--token-U1uOv2mivztH);
}
.columns__hOmOh > :global(.__wab_flex-container) > *,
.columns__hOmOh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__hOmOh > :global(.__wab_flex-container) > picture > img,
.columns__hOmOh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-U1uOv2mivztH);
}
.columns__hOmOh {
  --plsmc-rc-col-gap: 0px;
}
.columns__hOmOh > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__hOmOh > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__hOmOh > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__hOmOh > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hOmOh {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hOmOh > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hOmOh > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hOmOh > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hOmOh > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hOmOh > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
.column__hCjHe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hCjHe {
    padding: 0px;
  }
}
.img__mB1Uu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__mB1Uu > picture > img {
  object-fit: cover;
}
.img__mB1Uu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__mB1Uu {
    width: 500px;
    border-radius: 15px;
  }
}
.column___1EYze {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___1EYze {
    padding: 0px;
  }
}
.img__tDrMq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__tDrMq > picture > img {
  object-fit: cover;
}
.img__tDrMq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__tDrMq {
    border-radius: 15px;
  }
}
.column___68PUw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___68PUw {
    padding: 0px;
  }
}
.img__g776M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__g776M > picture > img {
  object-fit: cover;
}
.img__g776M > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__g776M {
    border-radius: 15px;
  }
}
.column__cJhLq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__cJhLq {
    padding: 0px;
  }
}
.img__eQ1D {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__eQ1D > picture > img {
  object-fit: cover;
}
.img__eQ1D > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__eQ1D {
    border-radius: 15px;
  }
}
.columns__r95Q {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__r95Q > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-U1uOv2mivztH));
  width: calc(100% + var(--token-U1uOv2mivztH));
  --plsmc-rc-col-gap: var(--token-U1uOv2mivztH);
}
.columns__r95Q > :global(.__wab_flex-container) > *,
.columns__r95Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__r95Q > :global(.__wab_flex-container) > picture > img,
.columns__r95Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-U1uOv2mivztH);
}
.columns__r95Q {
  --plsmc-rc-col-gap: 0px;
}
.columns__r95Q > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__r95Q > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__r95Q > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__r95Q > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__r95Q {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__r95Q > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__r95Q > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__r95Q > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__r95Q > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__r95Q > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
.column__kdUhS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__kdUhS {
    padding: 0px;
  }
}
.img__uIt5R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__uIt5R > picture > img {
  object-fit: cover;
}
.img__uIt5R > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__uIt5R {
    width: 500px;
    border-radius: 15px;
  }
}
.column__ujcoD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ujcoD {
    padding: 0px;
  }
}
.img__f6Vtp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__f6Vtp > picture > img {
  object-fit: cover;
}
.img__f6Vtp > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__f6Vtp {
    border-radius: 15px;
  }
}
.column__lavBj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lavBj {
    padding: 0px;
  }
}
.img__mLwQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__mLwQ > picture > img {
  object-fit: cover;
}
.img__mLwQ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__mLwQ {
    border-radius: 15px;
  }
}
.column__et99U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__et99U {
    padding: 0px;
  }
}
.img__wwCYn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__wwCYn > picture > img {
  object-fit: cover;
}
.img__wwCYn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__wwCYn {
    border-radius: 15px;
  }
}
.columns__c90Vr {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__c90Vr > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-U1uOv2mivztH));
  width: calc(100% + var(--token-U1uOv2mivztH));
  --plsmc-rc-col-gap: var(--token-U1uOv2mivztH);
}
.columns__c90Vr > :global(.__wab_flex-container) > *,
.columns__c90Vr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__c90Vr > :global(.__wab_flex-container) > picture > img,
.columns__c90Vr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-U1uOv2mivztH);
}
.columns__c90Vr {
  --plsmc-rc-col-gap: 0px;
}
.columns__c90Vr > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__c90Vr > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__c90Vr > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__c90Vr > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c90Vr {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c90Vr > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c90Vr > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c90Vr > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c90Vr > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c90Vr > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
.column__tphp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__tphp {
    padding: 0px;
  }
}
.img__nYisw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__nYisw > picture > img {
  object-fit: cover;
}
.img__nYisw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__nYisw {
    width: 500px;
    border-radius: 15px;
  }
}
.column__z3DOt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__z3DOt {
    padding: 0px;
  }
}
.img__frh8G {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__frh8G > picture > img {
  object-fit: cover;
}
.img__frh8G > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__frh8G {
    border-radius: 15px;
  }
}
.column__oUMe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__oUMe {
    padding: 0px;
  }
}
.img___8WImH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img___8WImH > picture > img {
  object-fit: cover;
}
.img___8WImH > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___8WImH {
    border-radius: 15px;
  }
}
.column__iv908 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__iv908 {
    padding: 0px;
  }
}
.img__kC17Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__kC17Q > picture > img {
  object-fit: cover;
}
.img__kC17Q > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__kC17Q {
    border-radius: 15px;
  }
}
.columns__vp3Ge {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__vp3Ge > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-U1uOv2mivztH));
  width: calc(100% + var(--token-U1uOv2mivztH));
  --plsmc-rc-col-gap: var(--token-U1uOv2mivztH);
}
.columns__vp3Ge > :global(.__wab_flex-container) > *,
.columns__vp3Ge > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__vp3Ge > :global(.__wab_flex-container) > picture > img,
.columns__vp3Ge
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-U1uOv2mivztH);
}
.columns__vp3Ge {
  --plsmc-rc-col-gap: 0px;
}
.columns__vp3Ge > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__vp3Ge > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__vp3Ge > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__vp3Ge > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vp3Ge {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vp3Ge > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vp3Ge > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vp3Ge > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vp3Ge > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vp3Ge > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
.column___7RDA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___7RDA {
    padding: 0px;
  }
}
.img__kSsQs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__kSsQs > picture > img {
  object-fit: cover;
}
.img__kSsQs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__kSsQs {
    width: 500px;
    border-radius: 15px;
  }
}
.column__ijbrO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ijbrO {
    padding: 0px;
  }
}
.img__d9BYj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__d9BYj > picture > img {
  object-fit: cover;
}
.img__d9BYj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__d9BYj {
    border-radius: 15px;
  }
}
.column__hYrsR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hYrsR {
    padding: 0px;
  }
}
.img___1GAvz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img___1GAvz > picture > img {
  object-fit: cover;
}
.img___1GAvz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___1GAvz {
    border-radius: 15px;
  }
}
.column__bmRnk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__bmRnk {
    padding: 0px;
  }
}
.img___9RZm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img___9RZm > picture > img {
  object-fit: cover;
}
.img___9RZm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___9RZm {
    border-radius: 15px;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
