.shop {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: stretch;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.shop > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .shop > * {
    grid-column: 4;
  }
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.section__jcic7 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: stretch;
  width: 100%;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 0;
}
.section__jcic7 > * {
  grid-column: 4;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h1 {
  text-align: center;
  color: #2e2854;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}
.section__yJ3Fq {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
.section__yJ3Fq > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__yJ3Fq > * {
    grid-column: 4;
  }
}
.columns__aJjWc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__aJjWc > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-U1uOv2mivztH));
  width: calc(100% + var(--token-U1uOv2mivztH));
  --plsmc-rc-col-gap: var(--token-U1uOv2mivztH);
}
.columns__aJjWc > :global(.__wab_flex-container) > *,
.columns__aJjWc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__aJjWc > :global(.__wab_flex-container) > picture > img,
.columns__aJjWc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-U1uOv2mivztH);
}
.columns__aJjWc {
  --plsmc-rc-col-gap: 0px;
}
.columns__aJjWc > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__aJjWc > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__aJjWc > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__aJjWc > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aJjWc {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aJjWc > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aJjWc > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aJjWc > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aJjWc > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aJjWc > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
.column__vXfFj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__vXfFj {
    padding: 0px;
  }
}
.img__mveeU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__mveeU > picture > img {
  object-fit: cover;
}
.img__mveeU > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__mveeU {
    width: 500px;
    border-radius: 15px;
  }
}
.column__c3NWw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__c3NWw {
    padding: 0px;
  }
}
.img__cbG8B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__cbG8B > picture > img {
  object-fit: cover;
}
.img__cbG8B > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__cbG8B {
    border-radius: 15px;
  }
}
.column__eSjv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__eSjv {
    padding: 0px;
  }
}
.img__twgD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__twgD > picture > img {
  object-fit: cover;
}
.img__twgD > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__twgD {
    border-radius: 15px;
  }
}
.column___25C2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___25C2 {
    padding: 0px;
  }
}
.img__aNdfv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__aNdfv > picture > img {
  object-fit: cover;
}
.img__aNdfv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__aNdfv {
    border-radius: 15px;
  }
}
.columns__hdh5M {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__hdh5M > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-U1uOv2mivztH));
  width: calc(100% + var(--token-U1uOv2mivztH));
  --plsmc-rc-col-gap: var(--token-U1uOv2mivztH);
}
.columns__hdh5M > :global(.__wab_flex-container) > *,
.columns__hdh5M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__hdh5M > :global(.__wab_flex-container) > picture > img,
.columns__hdh5M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-U1uOv2mivztH);
}
.columns__hdh5M {
  --plsmc-rc-col-gap: 0px;
}
.columns__hdh5M > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__hdh5M > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__hdh5M > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__hdh5M > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hdh5M {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
    padding: 10px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hdh5M > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hdh5M > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hdh5M > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hdh5M > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hdh5M > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
.column__k5Ep {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__k5Ep {
    padding: 0px;
  }
}
.img__fYuJm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__fYuJm > picture > img {
  object-fit: cover;
}
.img__fYuJm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fYuJm {
    width: 500px;
    border-radius: 15px;
  }
}
.column__tcfKo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__tcfKo {
    padding: 0px;
  }
}
.img__hOzxo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__hOzxo > picture > img {
  object-fit: cover;
}
.img__hOzxo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__hOzxo {
    border-radius: 15px;
  }
}
.column__hlS4Q {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hlS4Q {
    padding: 0px;
  }
}
.img__jeuF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__jeuF > picture > img {
  object-fit: cover;
}
.img__jeuF > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__jeuF {
    border-radius: 15px;
  }
}
.column__wwrfD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wwrfD {
    padding: 0px;
  }
}
.img__gfz1T {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__gfz1T > picture > img {
  object-fit: cover;
}
.img__gfz1T > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__gfz1T {
    border-radius: 15px;
  }
}
.columns___22Sey {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns___22Sey > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-U1uOv2mivztH));
  width: calc(100% + var(--token-U1uOv2mivztH));
  --plsmc-rc-col-gap: var(--token-U1uOv2mivztH);
}
.columns___22Sey > :global(.__wab_flex-container) > *,
.columns___22Sey > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___22Sey > :global(.__wab_flex-container) > picture > img,
.columns___22Sey
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-U1uOv2mivztH);
}
.columns___22Sey {
  --plsmc-rc-col-gap: 0px;
}
.columns___22Sey > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns___22Sey > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns___22Sey > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns___22Sey > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___22Sey {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
    padding: 10px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___22Sey > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___22Sey > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___22Sey > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___22Sey > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___22Sey > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
.column__zrCCk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zrCCk {
    padding: 0px;
  }
}
.img__gktA9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__gktA9 > picture > img {
  object-fit: cover;
}
.img__gktA9 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__gktA9 {
    width: 500px;
    border-radius: 15px;
  }
}
.column__lsiEo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lsiEo {
    padding: 0px;
  }
}
.img__oGnNu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__oGnNu > picture > img {
  object-fit: cover;
}
.img__oGnNu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__oGnNu {
    border-radius: 15px;
  }
}
.column__mIWeB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__mIWeB {
    padding: 0px;
  }
}
.img__l1K {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__l1K > picture > img {
  object-fit: cover;
}
.img__l1K > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__l1K {
    border-radius: 15px;
  }
}
.column__aDFl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__aDFl {
    padding: 0px;
  }
}
.img__bDiZg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__bDiZg > picture > img {
  object-fit: cover;
}
.img__bDiZg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__bDiZg {
    border-radius: 15px;
  }
}
.columns__rcwzN {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__rcwzN > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-U1uOv2mivztH));
  width: calc(100% + var(--token-U1uOv2mivztH));
  --plsmc-rc-col-gap: var(--token-U1uOv2mivztH);
}
.columns__rcwzN > :global(.__wab_flex-container) > *,
.columns__rcwzN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__rcwzN > :global(.__wab_flex-container) > picture > img,
.columns__rcwzN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-U1uOv2mivztH);
}
.columns__rcwzN {
  --plsmc-rc-col-gap: 0px;
}
.columns__rcwzN > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__rcwzN > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__rcwzN > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__rcwzN > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rcwzN {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
    padding: 10px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rcwzN > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rcwzN > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rcwzN > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rcwzN > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rcwzN > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
.column___2JRhI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___2JRhI {
    padding: 0px;
  }
}
.img__tfRhs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__tfRhs > picture > img {
  object-fit: cover;
}
.img__tfRhs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__tfRhs {
    width: 500px;
    border-radius: 15px;
  }
}
.column__u9Suy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__u9Suy {
    padding: 0px;
  }
}
.img__wlR3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__wlR3 > picture > img {
  object-fit: cover;
}
.img__wlR3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__wlR3 {
    border-radius: 15px;
  }
}
.column__qGt6F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qGt6F {
    padding: 0px;
  }
}
.img__lPm7G {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__lPm7G > picture > img {
  object-fit: cover;
}
.img__lPm7G > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__lPm7G {
    border-radius: 15px;
  }
}
.column__z2Agb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__z2Agb {
    padding: 0px;
  }
}
.img__fpRBv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__fpRBv > picture > img {
  object-fit: cover;
}
.img__fpRBv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fpRBv {
    border-radius: 15px;
  }
}
.columns___1U6Hs {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns___1U6Hs > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-U1uOv2mivztH));
  width: calc(100% + var(--token-U1uOv2mivztH));
  --plsmc-rc-col-gap: var(--token-U1uOv2mivztH);
}
.columns___1U6Hs > :global(.__wab_flex-container) > *,
.columns___1U6Hs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___1U6Hs > :global(.__wab_flex-container) > picture > img,
.columns___1U6Hs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-U1uOv2mivztH);
}
.columns___1U6Hs {
  --plsmc-rc-col-gap: 0px;
}
.columns___1U6Hs > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns___1U6Hs > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns___1U6Hs > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns___1U6Hs > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1U6Hs {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
    padding: 10px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1U6Hs > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1U6Hs > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1U6Hs > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1U6Hs > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1U6Hs > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
.column__rm0W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rm0W {
    padding: 0px;
  }
}
.img__y4Fj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__y4Fj > picture > img {
  object-fit: cover;
}
.img__y4Fj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__y4Fj {
    width: 500px;
    border-radius: 15px;
  }
}
.column__clFEm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__clFEm {
    padding: 0px;
  }
}
.img___4PcFu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img___4PcFu > picture > img {
  object-fit: cover;
}
.img___4PcFu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___4PcFu {
    border-radius: 15px;
  }
}
.column___633TG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___633TG {
    padding: 0px;
  }
}
.column__hcusf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hcusf {
    padding: 0px;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
