.shop {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: stretch;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.shop > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .shop > * {
    grid-column: 4;
  }
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.section__kq8DB {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: stretch;
  width: 100%;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 0;
}
.section__kq8DB > * {
  grid-column: 4;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h1 {
  text-align: center;
  color: #2e2854;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}
.section__dTbiV {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
.section__dTbiV > * {
  grid-column: 4;
}
.columns__cRq9L {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__cRq9L > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-U1uOv2mivztH));
  width: calc(100% + var(--token-U1uOv2mivztH));
  --plsmc-rc-col-gap: var(--token-U1uOv2mivztH);
}
.columns__cRq9L > :global(.__wab_flex-container) > *,
.columns__cRq9L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__cRq9L > :global(.__wab_flex-container) > picture > img,
.columns__cRq9L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-U1uOv2mivztH);
}
.columns__cRq9L {
  --plsmc-rc-col-gap: 0px;
}
.columns__cRq9L > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__cRq9L > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__cRq9L > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__cRq9L > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cRq9L {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cRq9L > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cRq9L > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cRq9L > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cRq9L > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cRq9L > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
.column__rH6XP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rH6XP {
    padding: 0px;
  }
}
.img__mvIwk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__mvIwk > picture > img {
  object-fit: cover;
}
.img__mvIwk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__mvIwk {
    width: 500px;
    border-radius: 15px;
  }
}
.column__qFdOm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qFdOm {
    padding: 0px;
  }
}
.img__mTrvW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__mTrvW > picture > img {
  object-fit: cover;
}
.img__mTrvW > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__mTrvW {
    border-radius: 15px;
  }
}
.column__aKdhU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__aKdhU {
    padding: 0px;
  }
}
.img___47P2I {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img___47P2I > picture > img {
  object-fit: cover;
}
.img___47P2I > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___47P2I {
    border-radius: 15px;
  }
}
.column__ps4Xq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ps4Xq {
    padding: 0px;
  }
}
.img__jaxKd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__jaxKd > picture > img {
  object-fit: cover;
}
.img__jaxKd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__jaxKd {
    border-radius: 15px;
  }
}
.columns__vmVce {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__vmVce > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-U1uOv2mivztH));
  width: calc(100% + var(--token-U1uOv2mivztH));
  --plsmc-rc-col-gap: var(--token-U1uOv2mivztH);
}
.columns__vmVce > :global(.__wab_flex-container) > *,
.columns__vmVce > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__vmVce > :global(.__wab_flex-container) > picture > img,
.columns__vmVce
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-U1uOv2mivztH);
}
.columns__vmVce {
  --plsmc-rc-col-gap: 0px;
}
.columns__vmVce > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__vmVce > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__vmVce > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__vmVce > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vmVce {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vmVce > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vmVce > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vmVce > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vmVce > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vmVce > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
.column__nA9Ma {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__nA9Ma {
    padding: 0px;
  }
}
.img__fvgTi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__fvgTi > picture > img {
  object-fit: cover;
}
.img__fvgTi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fvgTi {
    width: 500px;
    border-radius: 15px;
  }
}
.column__fGhpf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__fGhpf {
    padding: 0px;
  }
}
.img__ia0Dh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__ia0Dh > picture > img {
  object-fit: cover;
}
.img__ia0Dh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ia0Dh {
    border-radius: 15px;
  }
}
.column__sHoi0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sHoi0 {
    padding: 0px;
  }
}
.img__qKqCx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__qKqCx > picture > img {
  object-fit: cover;
}
.img__qKqCx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__qKqCx {
    border-radius: 15px;
  }
}
.column__tnNlf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__tnNlf {
    padding: 0px;
  }
}
.img__hzMwV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__hzMwV > picture > img {
  object-fit: cover;
}
.img__hzMwV > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__hzMwV {
    border-radius: 15px;
  }
}
.columns__ve0L8 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__ve0L8 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-U1uOv2mivztH));
  width: calc(100% + var(--token-U1uOv2mivztH));
  --plsmc-rc-col-gap: var(--token-U1uOv2mivztH);
}
.columns__ve0L8 > :global(.__wab_flex-container) > *,
.columns__ve0L8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ve0L8 > :global(.__wab_flex-container) > picture > img,
.columns__ve0L8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-U1uOv2mivztH);
}
.columns__ve0L8 {
  --plsmc-rc-col-gap: 0px;
}
.columns__ve0L8 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__ve0L8 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__ve0L8 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__ve0L8 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ve0L8 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ve0L8 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ve0L8 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ve0L8 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ve0L8 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ve0L8 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
.column__odgSk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__odgSk {
    padding: 0px;
  }
}
.img__kVv3P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__kVv3P > picture > img {
  object-fit: cover;
}
.img__kVv3P > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__kVv3P {
    width: 500px;
    border-radius: 15px;
  }
}
.column___646X9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___646X9 {
    padding: 0px;
  }
}
.img__ypZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__ypZ > picture > img {
  object-fit: cover;
}
.img__ypZ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ypZ {
    border-radius: 15px;
  }
}
.column__eld1B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__eld1B {
    padding: 0px;
  }
}
.img__xaN1B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__xaN1B > picture > img {
  object-fit: cover;
}
.img__xaN1B > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xaN1B {
    border-radius: 15px;
  }
}
.column__wNvCq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wNvCq {
    padding: 0px;
  }
}
.img__eElav {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__eElav > picture > img {
  object-fit: cover;
}
.img__eElav > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__eElav {
    border-radius: 15px;
  }
}
.columns__mXnum {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__mXnum > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-U1uOv2mivztH));
  width: calc(100% + var(--token-U1uOv2mivztH));
  --plsmc-rc-col-gap: var(--token-U1uOv2mivztH);
}
.columns__mXnum > :global(.__wab_flex-container) > *,
.columns__mXnum > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__mXnum > :global(.__wab_flex-container) > picture > img,
.columns__mXnum
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-U1uOv2mivztH);
}
.columns__mXnum {
  --plsmc-rc-col-gap: 0px;
}
.columns__mXnum > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__mXnum > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__mXnum > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__mXnum > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mXnum {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mXnum > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mXnum > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mXnum > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mXnum > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mXnum > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
.column__xYhsb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__xYhsb {
    padding: 0px;
  }
}
.img__rliU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__rliU > picture > img {
  object-fit: cover;
}
.img__rliU > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__rliU {
    width: 500px;
    border-radius: 15px;
  }
}
.column___72Amh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___72Amh {
    padding: 0px;
  }
}
.img__fSWnd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__fSWnd > picture > img {
  object-fit: cover;
}
.img__fSWnd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fSWnd {
    border-radius: 15px;
  }
}
.column__wMiCd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wMiCd {
    padding: 0px;
  }
}
.img__uv3EU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 30px;
}
.img__uv3EU > picture > img {
  object-fit: cover;
}
.img__uv3EU > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__uv3EU {
    border-radius: 15px;
  }
}
.column___01Coi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___01Coi {
    padding: 0px;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
