.shop {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: stretch;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.shop > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .shop > * {
    grid-column: 4;
  }
}
.headerr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.section__jdRi5 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: stretch;
  width: 100%;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 50px 0;
}
.section__jdRi5 > * {
  grid-column: 4;
}
.text__ec7Zf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h1 {
  text-align: center;
  color: #2e2854;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}
.section__oyqPz {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
.section__oyqPz > * {
  grid-column: 4;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-U1uOv2mivztH));
  width: calc(100% + var(--token-U1uOv2mivztH));
  --plsmc-rc-col-gap: var(--token-U1uOv2mivztH);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-U1uOv2mivztH);
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__duDKd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
.img__gBh7U {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
}
.img__gBh7U > picture > img {
  object-fit: cover;
}
.img__gBh7U > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__pvDyx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h4__ocTzd {
  text-align: center;
  font-family: "Rubik", sans-serif;
}
.column__pLnzw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
.img__gpMq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
}
.img__gpMq > picture > img {
  object-fit: cover;
}
.img__gpMq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__j762G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h4__aQxZf {
  text-align: center;
  font-family: "Rubik", sans-serif;
}
.column__c47Ap {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
.img__emUk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
}
.img__emUk > picture > img {
  object-fit: cover;
}
.img__emUk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__cvQxu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h4__taMt7 {
  text-align: center;
  font-family: "Rubik", sans-serif;
}
.column__tN19T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
.img__cu2Eu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
}
.img__cu2Eu > picture > img {
  object-fit: cover;
}
.img__cu2Eu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__hOcCn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h4__iV856 {
  text-align: center;
  font-family: "Rubik", sans-serif;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
